// All scss
//@import 'bulma/css/bulma.css';

.modal-wrapper {
  max-width: 700px !important;
  width: 700px !important;
}

.modal-container-inner {
  max-width: 700px !important;
  width: 700px !important;
}